.App {
  border: 1px solid red;
  border-radius: 4px;
  width: 72vw;
  height: 48vh;
  margin: auto;
  margin-top: 5vh;
}

.header {
  text-align: center;
}

h1 {
  color: #555555;
}

.lastname {
  color: #000000;
}

.navbar ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.navbar li {
  list-style-type: none;
}

main {
  border: 1px solid red;
  width: 98%;
  margin: auto;

  display:flex;
  flex-flow: column nowrap;
  align-items: center;
}

.content {
  border: 1px solid red;
  border-radius: 4px;
  width: 380px;
  height: 200px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.card button {
  height: 64px;
  width: 64px;

}