.App {
  width: 100vw;
  height: 100vh;
  margin: auto;
  padding-top: 5vh;
}

.header {
  text-align: center;
}

h1 {
  color: #555555;
}

.lastname {
  color: #000000;
}

.navbar ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.navbar li {
  list-style-type: none;
}

main {
  border: 1px solid red;
  width: 80%;
  margin: auto;

  display:flex;
  flex-flow: column nowrap;
  align-items: center;
}

.content {
  border: 1px solid red;
  border-radius: 4px;
  width: 380px;
  height: 200px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.card button {
  height: 64px;
  width: 32px;

}

#welcome {
  background-color: #779BE7;
  color: #F1E9DB;
}

#welcome h1 {
  color: #673C4F;
}

#welcome h2, h3 {
  color: #816C61;
}

#welcome a:visited, a:link {
  color: #16425B;
}

#projects {
  background-color: #03191E;
  color: #D7EBBA;
}

#projects h1 {
  color: #FEFFBE;
}

#projects h2, h3 {
  color: #EBD494;
}

#projects a:visited, a:link {
  color: #9AD2CB;
}